# ===== Unity (ClientTest) =====
.utmp/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.blend1
*.blend1.meta
[Mm]emoryCaptures/
[Rr]ecordings/
[Aa]ssets/Plugins/Editor/JetBrains*
.gradle/
ExportedObj/
.consulo/
*.unityproj
*.pidb
*.booproj
*.svd
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties
InitTestScene*.unity*
ServerData/
[Aa]ssets/StreamingAssets/aa*
[Aa]ssets/AddressableAssetsData/link.xml*
[Aa]ssets/Addressables_Temp*
[Aa]ssets/AddressableAssetsData/*/*.bin*
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
[Aa]ssets/[Ss]ceneDependencyCache*

# ===== Visual Studio / .NET (SV) =====
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Oo]ut/
**/[Bb]in/*
.vs/
[Tt]est[Rr]esult*/
*.trx
*.VisualState.xml
TestResult.xml
BenchmarkDotNet.Artifacts/
project.lock.json
project.fragment.lock.json
artifacts/
*.ilk
*.obj
*.idb
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.tmp
*.tmp_proj
*.log
*.tlog
.builds
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.cachefile
*.psess
*.vsp
*.vspx
*.sap
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
node_modules/
*.nupkg
*.snupkg
*.binlog
MSBuild_Logs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.vsix
publish/
PublishScripts/
*.pubxml
*.publishproj
healthchecksdb
FodyWeavers.xsd

# ===== Misc =====
*~
~$*
Thumbs.db
.DS_Store
